.wave {
    animation: wave 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

@keyframes wave {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-5deg); }
    40% { transform: rotate(5deg); }
    60% { transform: rotate(-5deg); }
    80% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}
